<!DOCTYPE html>
<html>
<head>
  <title>Reshmources</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Reschmources</h1>
<nav class="navbar navbar-default navbar-fixed-top">
  <%= link_to 'Create a Topic', new_topic_path %>
</nav>
<%= yield %>

</body>
</html>
